*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.user
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln 

cmake_install.cmake
.cache/


Debug/
build/
include/*.*
!include/zxshady/extra_traits
build_Clang/
build_GCC/
buildC/
CMakeFiles/
.vs/
.xmake/
generators/