# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app

# Solution files
*.user
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln 

cmake_install.cmake
.cache/

Debug/
build/
include/
!include/zxshady
build_Clang/
build_GCC/

CMakeFiles/
.vs/
.xmake/
